.flight-page {
  margin-left: 260px; /* space for Sidebar */
  padding: 20px;
}

/* MAIN FLIGHT CARD */
.flight-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 22px;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease-in-out;
}

.flight-card:hover {
  transform: translateY(-4px);
}

/* LEFT: AIRLINE */
.airline-section {
  width: 22%;
  display: flex;
  gap: 14px;
  align-items: center;
}

.airline-logo {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.airline-name {
  font-size: 18px;
  font-weight: 600;
}

.model {
  font-size: 13px;
  color: #777;
}

.flight-no {
  font-size: 12px;
  color: #999;
}

/* MIDDLE: TIMES */
.flight-time-section {
  width: 42%;
}

.main-times {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-block {
  text-align: center;
  min-width: 90px;
}

.time {
  font-size: 26px;
  font-weight: 700;
}

.city {
  font-size: 13px;
  color: #555;
}

.duration-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.line {
  width: 80px;
  height: 3px;
  background: #bbb;
  margin: 0 8px;
  border-radius: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #0078ff;
  border-radius: 50%;
}

.layover-text {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
}

/* RIGHT: PRICE + BUTTONS */
.price-section {
  width: 24%;
  text-align: right;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: #0078ff;
}

.per-adult {
  font-size: 12px;
  color: #777;
  margin-bottom: 8px;
}

.btn-group button {
  margin: 4px;
  padding: 7px 14px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* BUTTON COLORS */
.btn-edit {
  background: #ffc107;
}

.btn-delete {
  background: #dc3545;
  color: white;
}

.btn-view {
  background: #0078ff;
  color: white;
}