.body {
  background-image: url('../../../images/pexels-912050.jpg'); /* leave for now */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px;
  position: relative;
}
.error-box{
  border: 2px solid red !important;
}
/* BACK BUTTON */
.back-btn {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 10px 18px;
  border-radius: 10px;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
}

/* TRANSPARENT FROSTED FORM BOX */
.ticket-form-box {
  max-width: 850px;
  margin: auto;
  margin-top: 70px;
  background: rgba(255,255,255,0.15);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
}

.flight-heading {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}

/* TRIP BUTTONS */
.trip-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.trip-btn {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 12px;
  background: rgba(255,255,255,0.25);
  border: 1px solid white;
  color: white;
}

.trip-btn.active {
  background: #fff;
  color: #000;
}

/* FORM FIELDS */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}

select,
input[type="date"] {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

/* ERROR MSG */
.error {
  color: rgb(255, 80, 80);
  font-size: 14px;
  margin-top: 3px;
}

/* SWAP BUTTON */
.swap-btn {
  background: rgba(255,255,255,0.3);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border: none;
  margin-top: 28px;
  color: white;
  cursor: pointer;
}

/* SEARCH BUTTON */
.search-btn {
  width: 100%;
  margin-top: 10px;
  height: 55px;
  background: #00ffb3;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background: #fff;
  color: #000;
}